extends layout

block content

  .splash.pure-u-1

    .pure-g-r
      .pure-u-1-3
        .l-box.splash-image
          img(src="/s/img/persona-logo.png",alt="Placeholder image for example.")

      .pure-u-2-3
        .l-box.splash-text
          h1.splash-head Persona Assistant

          h2.splash-subhead.
            This jQuery plugin is designed to help you implement Persona on your frontend for your website.  It tries
            to help for two main use-cases: (1) single page apps, and (2) classic sites, however it can be used in
            a number of different ways. Please see the <a href="#examples">examples</a> for details.

          p
            a.persona-login.persona-logged-out.hide(href="#")
              img(src="/s/img/login.png")
            span.persona-loading.hide Loading ...
            span.persona-logged-in.hide
              | Hello 
              span.persona-email= email
              |  | 
              a.persona-logout(href="#") Sign Out
          p (Note: this is a small example of a single-page application.)

  a(name="examples")
  .content.pure-u-1

    .pure-g-r.content-ribbon
      .pure-u-2-3
        .l-box
          h4.content-subhead Example 1

          h3 Classic Mode
          p.
            In this sense, Classic Mode is one when your users generally click from page to page, loading up a fresh
            page on most clicks. Each time a page is displayed we need to re-initialise
            <code>browser.id.watch()</code>. Persona Assistant helps you with validating the person you think is logged
            in as well as reloading the page if this state changes.

          p
            | See the 
            a(href="/classic") Classic Mode
            |  example.

      .pure-u-1-3
        .l-box
          img(src="http://placehold.it/400x250",alt="Placeholder image for example.")

    .pure-g-r.content-ribbon
      .pure-u-1-3
        .l-box
          img(src="http://placehold.it/400x250",alt="Placeholder image for example.")

      .pure-u-2-3
        .l-box
          h4.content-subhead Example 2

          h3 Single Page Application Mode
          p.
            Using the Single Page Mode feature of Persona Assistant helps you with showing or hiding DOM elements on
            the page depending on whether the user is logged in/out or if their logged in state changes. It can also
            delete certain DOM elements on logout as well as firing events at certain times.

          p
            | See the Single Page 
            a(href="/application") Application Mode
            |  example.

    .pure-g-r
      .pure-u-1-4
        .l-box
          h3 Subheading
          p.
            Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet
            eros. Phasellus pellentesque euismod massa sed pellentesque.

      .pure-u-1-4
        .l-box
          h3 Subheading
          p.
            Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet
            eros. Phasellus pellentesque euismod massa sed pellentesque.

      .pure-u-1-4
        .l-box
          h3 Subheading
          p.
            Donec suscipit, risus vel venenatis ornare, nibh massa ultrices diam, a elementum metus felis sit amet
            eros. Phasellus pellentesque euismod massa sed pellentesque.

      .pure-u-1-4
        .l-box
          h3 Your Privacy
          p
            | This site doesn't store anything related to your Persona login, not even your email address. 
            a(href="http://expressjs.com/api.html#cookieSession") Cookie Sessions
            |  are used so the sessions reside in the cookie and are not saved on the server at all.

append js
  script(src="/s/js/index.js")
